/* 通用样式 */
body {
  padding: 0;
  margin: 0;
  background-image: url(/image/bg_tb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}
@media (max-width: 640px) {
  body {
  background-image: url(/image/bg_md.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
/* 版心类 */
.container {
  margin: 0 auto;
  width: 1400px;
}
/* 浮动类 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* header 样式开始 */
#header {
  width: 100%;
  height: 10vh;
}
#header ul li {
  display: inline-block;
  margin: 10px 80px;
}
#header ul li a {
  position: relative;
}
#header ul li a::after {
  content: "";
  position: absolute;
  background: #1AAEAE;
  width: 0;
  height: 3px;
  right: 0;
  bottom: -6px;
  transition: 0.5s;
}
#header ul li a:hover::after {
  width: 100%;
}
/* header 样式结束 */

/* banner 样式开始 */
/* banner 样式结束 */
/* footer 样式开始 */
#footer {
position: absolute;
width: 100%;
bottom: 0;
background: #000;
}
#footer .copyright {
  text-align: center;
  font-size: 16px;
  line-height: 3;
  color: #fff;


}
/* footer 样式结束 */

